.e2_19 { 
	width:217px;
	height:125px;
	background-image:url(images/____1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e6_9 { 
	background-color:rgba(255, 255, 255, 1);
	width:2179px;
	height:1496px;
	position:absolute;
}
.e2_23 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:2179px;
	height:170px;
	position:absolute;
	left:0px;
	top:0px;
}
.e30_6 { 
	color:rgba(0, 0, 0, 1);
	width:185px;
	height:97px;
	position:absolute;
	left:1107px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e2_18 { 
	color:rgba(0, 0, 0, 1);
	width:363px;
	height:94.95367431640625px;
	position:absolute;
	left:1278px;
	top:39.953704833984375px;
	font-family:Inter;
	text-align:left;
	font-size:69.237060546875px;
	letter-spacing:0;
}
.e2_19 { 
	width:217px;
	height:125px;
	position:absolute;
	left:872px;
	top:23px;
	background-image:url(images/____1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_20 { 
	width:312px;
	height:722px;
	position:absolute;
	left:31px;
	top:220px;
}
.e2_21 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 98.81249696016312, 98.81249696016312, 1);
	width:309px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_22 { 
	color:rgba(0, 0, 0, 1);
	width:309px;
	height:23.183486938476562px;
	position:absolute;
	left:3px;
	top:12.585321426391602px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e2_24 { 
	background-color:rgba(255, 255, 255, 1);
	width:260px;
	height:652.4495239257812px;
	position:absolute;
	left:24px;
	top:42.39263916015625px;
}
.e8_15 { 
	color:rgba(0, 0, 0, 1);
	width:184px;
	height:37px;
	position:absolute;
	left:55px;
	top:591px;
	font-family:Inter;
	text-align:left;
	font-size:30.27777671813965px;
	letter-spacing:0;
}
.e6_7 { 
	color:rgba(0, 0, 0, 1);
	width:259.379638671875px;
	height:361px;
	position:absolute;
	left:36.81018829345703px;
	top:48px;
	font-family:Inter;
	text-align:left;
	font-size:30.27777671813965px;
	letter-spacing:0;
}
.e3_22 { 
	width:422px;
	height:722px;
	position:absolute;
	left:931px;
	top:220px;
}
.e2_32 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 220.63874781131744, 98.81249696016312, 1);
	width:368px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_35 { 
	color:rgba(0, 0, 0, 1);
	width:368px;
	height:23.845870971679688px;
	position:absolute;
	left:0px;
	top:12.585321426391602px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e2_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:652.4495239257812px;
	position:absolute;
	left:24px;
	top:43.05504608154297px;
}
.e2_45 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 220.63874781131744, 98.81249696016312, 1);
	width:368px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_46 { 
	color:rgba(0, 0, 0, 1);
	width:372px;
	height:23.845870971679688px;
	position:absolute;
	left:50px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e2_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:316px;
	height:652.4495239257812px;
	position:absolute;
	left:24px;
	top:43.05504608154297px;
}
.e22_4 { 
	color:rgba(0, 0, 0, 1);
	width:310px;
	height:396px;
	position:absolute;
	left:40px;
	top:83px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_21 { 
	width:301px;
	height:722px;
	position:absolute;
	left:463px;
	top:220px;
}
.e2_25 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_40 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_38 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:281px;
	height:23.82401466369629px;
	position:absolute;
	left:10px;
	top:12.573785781860352px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e2_30 { 
	background-color:rgba(255, 255, 255, 1);
	width:260px;
	height:651.8515014648438px;
	position:absolute;
	left:20px;
	top:42.35382080078125px;
}
.e8_11 { 
	color:rgba(0, 0, 0, 1);
	width:245px;
	height:608px;
	position:absolute;
	left:33.05608367919922px;
	top:78px;
	font-family:Inter;
	text-align:left;
	font-size:26.82279396057129px;
	letter-spacing:0;
}
.e3_23 { 
	width:301px;
	height:722px;
	position:absolute;
	left:1430px;
	top:220px;
}
.e3_8 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_9 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_10 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_11 { 
	background-color:rgba(31.66170794516802, 183.81250709295273, 6.892968825995922, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_12 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:23.82401466369629px;
	position:absolute;
	left:47px;
	top:11.912007331848145px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_13 { 
	background-color:rgba(255, 255, 255, 1);
	width:260px;
	height:651.8515014648438px;
	position:absolute;
	left:20px;
	top:42.35380554199219px;
}
.e3_24 { 
	width:301px;
	height:722px;
	position:absolute;
	left:1851px;
	top:220px;
}
.e3_14 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_15 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_16 { 
	background-color:rgba(246.49999290704727, 143.42192083597183, 48.27291749417782, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_17 { 
	background-color:rgba(48.27291749417782, 127.56374537944794, 246.49999290704727, 1);
	width:301px;
	height:722px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e3_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:260px;
	height:651.8515014648438px;
	position:absolute;
	left:20px;
	top:42.35380554199219px;
}
.e3_25 { 
	color:rgba(0, 0, 0, 1);
	width:175px;
	height:36px;
	position:absolute;
	left:1914px;
	top:220px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e23_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:282px;
	height:152px;
	position:absolute;
	left:976px;
	top:748px;
}
.e23_6 { 
	color:rgba(0, 0, 0, 1);
	width:183px;
	height:36px;
	position:absolute;
	left:1019px;
	top:812px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e24_8 { 
	color:rgba(0, 0, 0, 1);
	width:209px;
	height:606px;
	position:absolute;
	left:1479px;
	top:268px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e24_12 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:613px;
	position:absolute;
	left:1892px;
	top:287px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e31_2 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:2048px;
	height:396px;
	position:absolute;
	left:83px;
	top:1045px;
}
.e31_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e30_7 { 
	color:rgba(0, 0, 0, 1);
	width:1987px;
	height:297px;
	position:absolute;
	left:119px;
	top:1092px;
	font-family:Inter;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
